* text=auto

*.sh text eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.java text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
mvnw text eol=lf
mvnw.cmd text eol=crlf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.jar binary
